<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="../favicon.ico">
    <meta charset="ANSI">
</head>

<h1><img src="../static/images/nitech_shanghai_2019_logo.png"> NITech Shanghai 2019</h1>
<h2>&emsp;What are your interested NITech Shanghai 2019 topics?</h2>

<body>

    <form style="width: 60%;" method="post">
        {% for row in rows %}
        <div>
            <div style="display: flex; flex-direction: row;">
                <input name={{row["id"]}} style="width:30px; height:30px;" type="checkbox" value="selected" />
                &emsp;
                <pre style="white-space: pre-wrap; color:blue; size:110%; font-weight: bold;">{{row["title"]}}</pre>
            </div>

            {% if popular == 0 %}
                <pre style="white-space: pre-wrap; text-align: left;">{{row["abstract"]}}</pre>
            {% endif %}
        </div>
        <hr>
        {% endfor %}
        <br>
        <input type="submit" value="Submit">
    </form>

</body>

</html>